/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
.content_wrapper {
	margin-top: -48px;
	margin-bottom: 8px;
	width: 100%;
	padding-top: 75px;
}
.content_wrapper h1 {
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 16px;
	padding-right: 16px;
	font-size: 1.3rem;
}
.content {
	margin: 16px 16px 0 16px;
	background: #fff;
	padding: 16px;
}
.content p {
	font-size: 1.0rem;
	margin: 0;
}

/* 記事の見出し一覧 */
.topics {
	border: solid #0D47A0 1px;
	margin: 16px 0;
	font-size: 1.0rem;
	text-decoration: underline;
	color: #333;
}
.topics a {
	color: #333;
}
.topics ul {
	list-style-type: none;
}
.topics > ul {
	list-style-type: none;
	margin: 16px 0;
	padding: 0px;
	padding-inline-start: 0;
}
.topics > ul > li {
	font-weight: bold;
}
.topics ul ul {
	margin-bottom: 16px;
}
.topics ul li {
	margin-left: 24px;
	margin-top: 8px;
	margin-right: 8px;
}
.topics_head {
	background: #0D47A0;
	color: #fff;
	padding: 8px;
}

/* h2 */
.h2_blog {
	padding: 8px;
	margin: 32px 0 24px 0;
	padding-left: 8px;
	background: #D6687B;
	color: #fff;
	font-size: 1.2rem;
	width: auto;
}

/* h3 */
.h3_blog {
	display: inline-block;
	padding: 8px;
	margin: 32px 0 16px 0;
	padding-left: 8px;
	font-size: 1.2rem;
	border-left: solid 5px #D6687B;
}

/* コンテンツ内画像 */
.img_in_content img {
	max-width: 100%;
	height: auto;
	margin-bottom: 8px;
}

/* サイト内リンク */
.article_in_site {
	margin: 16px 0;
	padding: 4px;
	background: transparent;
	cursor: pointer;

	border-radius: 8px;
	border: solid #D6687B 1px;
}
.article_in_site p {
	margin-top: 10px;
}
.article_in_site_movie_title {
	margin: 8px 0;
	display: flex;
}
.article_in_site_movie_title span {
	align-self: center;
}
.article_in_site_movie_title > span {
	margin-left: 8px;
	font-size: 0.8rem;
}
span.article_in_site_title_en {
	font-size: 0.5rem;
	margin-bottom: 8px;
	color: #888;
}
.article_in_site_movie_description {
	line-height: inherit;
	font-size: 0.7rem;
	padding: 8px;
	margin: 4px 8px;
	background: #eee;
}

.article_in_site_movie_description > span {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

/* 強調span1 */
span.emphasize_1 {
	/*border-bottom: solid #D6687B 1px;*/
	background: linear-gradient(transparent 90%, #D6687B 0%);
}

/* 強調p1 */
p.emphasize_1 {
	background: #eee;
	padding: 4px;
}

/* コンテンツ内のh4 */
h4.h4_in_content {
	margin: 16px 0 8px 0;
}

/* 記事一覧を表示するwrapper */
.wrapper_content_list {
	margin-top: 0px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrapper_content_list .article {
	border: solid #888 1px;
}

/* ユーティリティ */
.mt-8 {
	margin-top: 8px !important;
}
.mb-24 {
	margin-bottom: 24px !important;
}
.pt-0 {
	padding-top: 0 !important;
}

/* -------------------------------------------- */
/* ▼タブレット用 */
/* -------------------------------------------- */
@media all and (min-width: 768px) {
	.content_wrapper {
		margin-top: -32px;
		padding-top: 56px;
	}
}

/* ------------------------------------ */
/* ▼PC用 */
/* ------------------------------------ */
/*@media all and (min-width: 920px) {*/
@media all and (min-width: 1000px) {
	.content_wrapper {
		margin-top: -32px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.content {
		width: 984px;
		margin-right: 16px;
		margin-left: 16px;
	}
	.content p {
	}
}
