/* --------------------------------------------- */
/* ▼モバイルファースト (全環境に共通のデザイン) */
/* --------------------------------------------- */
body {
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
	color: #333333;
	font-family: "Noto Sans Japanese", sans-serif;
}

span, p {
	color: #292F33;
}

h3 {
	width: auto;
}

/* アンカーcssリセット */
a:link, a:visited {
	color: #fff;
	text-decoration: none;
}
/* でも普通のアンカーも使いたい時はこっち */
.a_normal {
	color: #333 !important;
	text-decoration: underline !important;
}

header {
	background-color: #ffffff;
	padding: 3px 10px 0px 10px;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
}

main, footer {
	background-color: #000000;
}

footer {
	padding-top: 24px;
}

/* ロゴ */
.logo {
	width: 65px;
	margin-top: 3px;
}

/* ハンバーメニュー */
.hamburger_menu_check {
	/* チェックボックスを隠す */
	display: none;
}
.hamburger_wrap {
	display: inline-block;
	justify-content: space-around;
	top :0;
	right :0;
	width :100%;
	background :#fff;
	z-index: 11;
}

/* ハンバーガーメニュー【オープン時の見出し】 */
.hamburger_title {
	position: relative;
	color: #999;
	display: inline-block;
	float: right;
	font-weight: 100;
	line-height: 30px;
	margin: 0 0 0 15px;
	opacity: 0;
	-webkit-transform: translate3d(0, -15px, 0);
	transform: translate3d(0, -15px, 0);
	-webkit-transition: -webkit-transform 0.6s, opacity 0.5s;
	transition: transform 0.6s, opacity 0.5s;
	z-index: 2;
}

/* ハンバーガーメニュー【メニューボタン】 */
.hamburger_btn {
	position: relative;
	width: 30px;
	height: 28px;
	margin-top: 13px;
	cursor: pointer;
	display: block;
	float: right;
	z-index: 2;
}
.hamburger_btn::before {
	-webkit-box-shadow: #000 0 12px 0;
	box-shadow: #000 0 12px 0;
}
.hamburger_btn::after {
	bottom: 0;
}
.hamburger_btn::before,
.hamburger_btn::after {
	width: 30px;
	height: 3px;
	background: #000;
	display: block;
	content: '';
	position: absolute;
	-webkit-transition: -webkit-box-shadow 0.2s linear, -webkit-transform 0.2s 0.2s;
	transition: box-shadow 0.2s linear, transform 0.2s 0.2s;
}

.hamburger_menu_wrap {
	width : 83%;
	background: #000;
	position: absolute;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
	left: -100%;
	top: 0;
	-webkit-transition: left 0.4s;
	transition: left 0.4s;
}

/* ハンバーガーメニュー【開閉時のアニメーション】 */
.hamburger_menu_check:checked ~ .hamburger_title {
	opacity: 1;
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
}
.hamburger_menu_check:checked ~ .hamburger_btn::before {
	-webkit-box-shadow: transparent 0 0 0;
	box-shadow: transparent 0 0 0;
	-webkit-transform: rotate(45deg) translate3d(6px, 11px, 0);
	transform: rotate(45deg) translate3d(6px, 11px, 0);
}
.hamburger_menu_check:checked ~ .hamburger_btn::after {
	-webkit-transform: rotate(-45deg) translate3d(6px, -11px, 0);
	transform: rotate(-45deg) translate3d(6px, -11px, 0);
}
.hamburger_menu_check:checked ~ .hamburger_menu_wrap {
	left: 0;
}

/* ハンバーガーメニュー【メニュー内のリストスタイル】 */
.hamburger_list {
	list-style-type: none;
	margin: 50px 0 32px;
	padding: 0;
}
.hamburger_list li a {
	display: block;
	overflow: hidden;
	padding: 8px 22px;
	position: relative;
	text-decoration: none;
	z-index: 1;
}
/* aタグマウスオーバー時の背景 */
.hamburger_list li a::before {
	/*background: #eee;*/
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 100%;
	left: 0;
	-webkit-transition: bottom 0.4s;
	transition: bottom 0.4s;
	z-index: -1;
}

.hamburger_list li a:hover::before {
	bottom: 0;
}
.hamburger_list li a:hover::after {
	opacity: 0.7;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* ハンバーガーメニュー　オーバーレイ */
.hamburger_overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 3000px;
	width: 100%;
	background: #000;
	z-index: 10;
	opacity: 0.5;
}

.top_area_wrapper {
	height: 100%;
}
.top_area_wrapper ul {
	display: none;
}

/* ページトップタイトル（共通） */
.main_h {
	font-size: 1.3rem;
	color: #fff;
	padding: 16px;
}

/* h2（共通） */
.sub_h {
	position: relative;
	padding-left: 56px;
	/*padding-left: 40px;*/
}
.sub_h_top {
	position: relative;
	padding-left: 56px;
}

.sub_h:before, .sub_h_top:before {
	position: absolute;
	content: '';
	top: 17px;
	left: 16px;
	background: url(../images/icon_reverse_white.svg) no-repeat 0 0;
	background-size: contain;
	width: 32px;
	height: 30px;

}

/* 背景イメージ */
.top_image_area {
	background-image: url("../images/background_top.jpg");
	background-size: cover;
	background-position: 70% 40%;
	background-repeat:  no-repeat;
	height: 200px;
	width: 100%;
}

/* 背景イメージ内のサイトメッセージ */
.site_message {
	color: #ffffff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 90%;
	height: 100%;
	padding-left: 10px;
}

.site_message p {
	color: #ffffff;
}

.site_message p:first-child {
	font-size: 1.4rem;
}

.site_message p:last-child {
	font-size: 1.2rem;
}

.site_message p {
	margin: 0 0 10px;
}

/* ロゴ（PCのみ） */
.logo_pc {
	display: none;
	width: 200px;
}

/* サイトメッセージ（メイン） */
.site_message_main_wrapper {
	position: relative;
	z-index: 10;
	margin-top: -60px;
	margin-bottom: 10px;
	margin-left: 18%;
	margin-right: 18%;
	padding: 8px;
	background-color: #ffffff;
}

/*
.site_message_main {
	animation: fadeIn 4s ease 0s 1 normal;
	-webkit-animation: fadeIn 4s ease 0s 1 normal;
}
*/

.site_message_main img {
	width: 30px;
}

.site_message_main_img {
	display: flex;
	justify-content: space-around;
	height: 25px;
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.site_message_main_caption {
	font-size: 0.7rem;
	text-align: center;
}

.site_message_main span {
	font-size: 0.7rem;
	text-align: center;
	margin-bottom: 0px;
	margin-top: 0px;
	display: block;
}

.site_message_main .main_title {
	font-size: 1.1rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 8px;
}

.site_message_main p {
	font-size: 0.75rem;
	padding: 0 5px;
	margin-bottom: 0px;
	text-align: center;
}

/* フィルム風区切り */
.film_separator {
	background: #000;
	height: 20px;
	background-image: url(../images/part_of_film.svg);
	background-repeat : repeat-x;
	background-size: contain;
	border-image-repeat:round stretch;
}

/* vue.jsのフェードイン設定 */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 3s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

/* 記事一覧 */
.top_news, .about {
	margin-top: -48px;
	margin-bottom: 8px;
	width: 100%;
	padding-top: 75px;
}

.top_news h1, .about h1, .top_news h2, .about h2 {
	color: #FFFFFF;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 16px;
	padding-right: 16px;
	font-size: 1.2rem;
}

/* トップ画面 メッセージ */
.about_site_top {
	margin: 16px 16px 0 16px;
}
.about_site_top p {
	background: transparent;
	font-size: 1.0rem;
	color: #fff;
	margin: 0;
}

/* 記事カード */
.article_wrapper {
	background-color: #333333;
	padding: 5px;
	width: 100%;
}
.article .publication_date {
	text-align: right;
	color: #aaa;
	font-size: 0.9rem;
	margin: 3px 0 0 0;
}
.article p {
	margin-top: 10px;
}
.article .title {
	font-size: 150%;
	color: #444;
	margin-top: 0px;
	margin-bottom: -10px;
}
.article .title span {
	border-radius: 7px;
	padding: 3px;
	vertical-align: middle;
}
.article .title span strong {
	font-size: 1.4rem;
}
.article .title .title_en, .article .title .title_jp {
	color: #fff;
	font-size: 0.65rem;
}
.article .title .title_en {
	background-color: #0D47A0;
}
.article .title .title_jp {
	background-color: #03A9F4;
}
.article .article_description {
	margin-top: 15px;
	color: #666;
	font-size: 0.8rem;
}
.article_header {
	display: flex;
	justify-content: space-between;
}
.article {
	margin: 16px;
	padding: 8px;
	background: #ffffff;
	cursor: pointer;
}

.article_wrapper:before {
	content: '';
	background: repeating-linear-gradient(0deg, #fff, #fff 3px, #000 3px, #000 6px);
}

.article {
	border-radius: 2px;
	background-color: #fff;
	//box-shadow: 0 3px 6px #ccc;
	//border: #ccc solid 1px;
	padding: 5px 5px 8px 5px;
	margin-bottom: 10px;
}

/* おすすめ度｜投稿日 */
.article_top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}

/* おすすめ度 */
.article_top p {
	margin: 0;
	text-align: center;
}
.article_evaluation p {
	margin-top: 0;
}
.article_evaluation_title {
	font-size: 0.65rem;
}

.article_evaluation_values {
	font-size: 0.7rem;
	letter-spacing: 0.3em;
}

/* 投稿日 */
.article_date_posted {
	font-size: 0.65rem;
	color: #888;
}

/* タイトル */
.article_movie_title {
	margin-top: 8px;
	margin-bottom: 16px;
	display: flex;
}
.article_movie_title span {
	align-self: center;
}
.article_movie_title > span {
	margin-left: 8px;
	font-size: 1.0rem;
}
span.article_title_en {
	font-size: 0.8rem;
	margin-bottom: 8px;
	color: #888;
}
/* シーンタイトル */
.article_scene_title {
	font-size: 0.9rem;
	margin: 8px 0 0 8px;
}
/* 映画説明 */
.article_movie_description {
	line-height: inherit;
	font-size: 0.8rem;
	padding: 8px;
	margin: 4px 8px;
	background: #eee;
}

.article_movie_description > span {
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
}

.recommend_point {
}
.recommend_point_title {
	font-size: 0.7rem;
	font-weight: bold;
}
.recommend_point_evaluation {
	font-size: 0.8rem;
}
/* もっと見る */
.next_article_list {
	margin: 24px 16px 16px 16px;
	display: flex;
	justify-content: center;
	font-size: 0.9rem;
}
.next_article_list a {
	padding: 8px 16px;
	border: 2px solid #D6687B;
	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

/**
 * シーン詳細画面
 **/
/* タグ */
.tags {
	padding: 6px;
	background: #fff;
	display: flex;
	justify-content: center;
}
.tag_wrapper {
	max-width: 1000px;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}
.tags a {
	color: #333;
	font-size: 0.6rem;
	padding: 4px 8px;
	margin: 2px 2px;
	border: 1px solid #aaa;
	border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}
/* タイトル */
.scene_top_title_en {
	padding: 0 16px;
	margin-top: -24px;
}
.scene_contents_title_wrapper {
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}
.scene_top_package_img {
	text-align:center;
	margin-top: 8px;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	font-size: 0.7rem;
	color: #999;
}

/* 概要 */
.overview_wrapper {
	padding: 0 16px;
	margin-top: 18px;
}
.overview_wrapper ul {
	list-style-type:none; margin:0; padding:0;
	display: flex;
}
.overview_wrapper li {
	margin:0;
	-webkit-flex: 1;
    flex: 1;
	text-align: center;
	background: #fff;
	padding: 8px 0;
}

.overview_movie_title {
	margin-bottom: 16px;
}
.overview_movie_title span {
	color: #fff !important;
}

p.tab_overview {
	background: #fff;
	padding: 8px;
	margin: 0;
	font-size: 0.9rem;
	border-radius: 0 0 4px 4px;
}
.overview_tab {
	font-size: 1.0rem;
	cursor: pointer;
}
.overview_tab:nth-child(1) {
	border-radius: 4px 0 0 4px;
	border-bottom: solid 1px #cfcfcf;
}
.overview_tab:nth-child(2) {
	border-radius: 0 4px 4px 0;
	border-bottom: solid 1px #cfcfcf;
}
.isActiveTab:nth-child(1) {
	border-radius: 4px 0 0 0 !important;
}
.isActiveTab:nth-child(2) {
	border-radius: 0 4px 0 0;
}
.active_overview_tab_li {
	border-top: solid 1px #cfcfcf;
    border-left: solid 1px #cfcfcf;
    border-right: solid 1px #cfcfcf;
    border-radius: 4px 4px 0 0;
	border-bottom: none !important;
}
.overview_tab i {
	color: #D6687B;
	margin-left: 8px;
}

/* キャスト */
.casts_wrapper {
	background: #fff;
	padding: 8px 8px 0px 8px;
	margin: 8px 16px;
	border-radius: 4px;
}
.casts_wrapper p {
	padding: 0px;
	margin: 0px;
}
.casts_wrapper .character_name {
	font-size: 0.9rem;
	font-weight: bold;
}
.casts_wrapper .cast {
	font-size: 0.8rem;
	margin-bottom: 4px;
}
.casts_wrapper .cast_description {
	font-size: 0.8rem;
	padding-bottom: 8px;
}

/* シーン翻訳 */
.h2_scene {
	color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 17px;
}
.h2_scene h2, .h2_scene h3 {
	margin: 0;
	font-size: 1.1rem;
}
.h2_scene h2:before, .h2_scene h3:before {
	top: 0px;
}
.scene_wrapper {
	padding: 16px;
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* シーン翻訳 - 引用 */
.scene_line {
	background: #fff;
	width: 100%;
}
.scene_line .character {
	font-weight: bold;
	margin-right: 8px;
}
.blockquote {
    position: relative;
    color: #555;
    width: 100%;
    margin: 0;
}

.blockquote:before {
    display: inline-block;
    position: absolute;
    top: 8px;
    left: 8px;
    vertical-align: middle;
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
    color: #0D47A0;
    line-height: 1;
}

.blockquote:after {
    display: inline-block;
    position: absolute;
    bottom: 8px;
    right: 8px;
    vertical-align: middle;
    text-align: center;
    content: "\f10e";
    font-family: "Font Awesome 5 Free";
	font-weight: 900;
    color: #0D47A0;
    line-height: 1;
}

.blockquote p {
    position: relative;
    padding: 8px 40px 0 40px;
    margin: 0;
    z-index: 3;
    font-size: 1.0rem;
    line-height: 1.5;
}
/* シーン翻訳 - 翻訳 */
.translation_line {
	border-left: solid 5px #D6687B;
	padding-left: 8px;
    margin-left: 8px;
}
.translation_line p {
	font-size: 0.9rem;
	margin: 12px 0 8px;
}
/* シーン翻訳 - 区切り縦棒 */
.scene_line_delimiter {
	width: 25%;
	max-width: 130px;
	background: #fff;
	height: 40px;
}
.scene_line_delimiter:last-child {
	display: none;
}
/* シーン翻訳 - アクション */
.scene_line_action {
	padding: 16px;
	text-align: center;
	font-size: 0.8rem;
	background: #fff;
	width: 60%;
	max-width: 350px;
}
.scene_line_action p {
	margin: 0;
}

/* ちょこっとメモ */
.scene_memo {
	background: #fff;
	padding: 8px;
	margin: 16px;
}
.scene_memo p {
	margin: 0;
	font-size: 0.9rem;
}
.b_in_scene_memo {
	display: inline-block;
	padding: 8px;
	margin: 4px 0;
	padding-left: 8px;
	background: #eee;
	border-left: solid 5px #0D47A0;
}

/* 単語・文法帳 */
p.dictionary_description {
	background: #eee;
	padding: 4px;
	margin-bottom:8px;
	margin-left: 8px;
}

/*
 * 当サイトについて
 */
.about_content {
	margin: 16px 16px 0 16px;
}
.about_content p {
	background: #fff;
	padding: 8px;
	font-size: 0.9rem;
	margin: 0;
}
.about_content_src {
	background: #fff;
}
.about_content_src pre {
	background-color: #e8e8e8;
    padding: 10px 20px;
	margin: 0;
	overflow: scroll;
}
.about_error {
	margin: 0 16px;
}
.about_error p {
	background: transparent;
	padding: 8px 0;
	font-size: 0.9rem;
	margin: 0;
	color: red;
}

/*
 * お問い合わせ
 */
.spacing_middle {
	background: #fff;
	padding: 16px;
}
.form_control_wrapper {
 	margin: 0 16px 24px 16px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.form_control_wrapper > div {
	width: 100%;
}
.form_control_wrapper label {
	width: 100%;
}
 .form_control_wrapper input[type='email'], .form_control_wrapper textarea {
 	font: 15px/24px sans-serif;
 	box-sizing: border-box;
 	width: 100%;
 	padding: 0.3em;
 	transition: 0.3s;
 	letter-spacing: 1px;
 	border: 1px solid #1b2538;
 	border-radius: 4px;
 }
 .ef input[type='email']:focus, .ef textarea:focus {
 	border: 1px solid #D6687B;
 	outline: none;
 	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
 }
 .form_control_button {
	padding: 8px 40px;
	color: #fff;
 	background: #D6687B;
 	border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
	border: none;
	cursor: pointer;
	outline: none;
	appearance: none;
}

/* フッター */
footer h3 {
	margin-top: 0;
	color: #fff;
	text-align: center;
	font-size: 1rem;
}

footer ul {
	padding: 0 56px !important;
}

.footer_category_list li {
	list-style-type: none !important;
	color: #fff;
	font-size: 0.9rem;
}

.footer_category_list a {
	position: relative;
	display: inline-block;
	width: 100%;
}

.footer_category_list a::after {
	content: '';
	position: absolute;
	display: block;
	top: 50%;
	right: 10px;
	width: 6px;
	height: 6px;
	margin: -2px 0 0;
	border-bottom: 2px solid #D6687B;
	border-right: 2px solid #D6687B;
	-webkit-transform: translate(0, 0) rotate(-45deg);
	transform: translate(0px, 0px) rotate(-45deg);
}

.hr_footer hr {
	border-top: 1px solid #eee;
	margin: 28px 20px 0 20px;
}

.footer_hr_copyright {
	border-top: 1px solid #ccc;
	margin: 20px 0px 0 0px;
}

.footer_copyright {
	font-size: 0.5rem;
	color: #ddd;
	text-align: center;
	padding-bottom: 8px;
}

.footer_privacy_policy {
	font-size: 0.6rem;
	text-align: center;
	margin-top: 8px;
}

/* -------------------------------------------- */
/* ▼タブレット用 */
/* -------------------------------------------- */
@media all and (min-width: 768px) {
	/* ヘッダー画像は縦を大きく */
	.top_image_area  {
		height: 260px;
		width: 100%;
	}
	/* "Learn English"は右寄せ */
	.site_message {
		width: 100%;
		padding-left: 0px;
		/*padding-right: 10px;*/
		align-items: flex-end;
	}
	.logo_pc {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.top_area_wrapper ul {
		width: 200px;
		display: block;
		list-style-type: none;
		margin: 24px 0 0 0;
		padding: 0;
	}
	.top_area_wrapper ul p {
		margin: 0 0 10px 0;
		text-align: center;
	}
	.top_area_wrapper a {
		text-decoration: none;
		color: #000;
		font-size: 0.8rem;
	}

	/* サイトメッセージ */
	.site_message_main_wrapper {
		margin-top: -80px;
		margin-left: 33%;
		margin-right: 33%;
		padding-top: 16px;
		padding-bottom: 16px;
	}
	.site_message p {
		margin-right: 16px;
	}
	/* 新着一覧 */
	.top_news, .about {
		margin-top: -32px;
		padding-top: 56px;
	}
	.top_news h2, .about h2 {
		margin-bottom: 8px;
	}
	/* 記事一覧 */
	.article_list_wrapper {
		margin-top: 16px;
	}
	.article_list {
		display: grid;
		gap: 8px;
		grid-template-columns: 1fr 1fr;
		padding: 0 16px;
	}
	.article {
		width: 100%;
		margin: 0;
		box-sizing: border-box;
	}

	/* シーン詳細画面 */
	.film_separator {
		height: 35px;
		background-image: url(../images/part_of_film_pc.svg);
	}
	.scene_line {
		width: 600px;
	}
	/* フッター */
	.footer_category_list {
		display: grid;
		gap: 10px;
		grid-template-columns: repeat(3, minmax(200px, 1fr));
	}
	.footer_category_list p {
		padding-right: 16px;
	}
}

/* ------------------------------------ */
/* ▼PC用 */
/* ------------------------------------ */
/*@media all and (min-width: 920px) {*/
@media all and (min-width: 1000px) {
	h1, h2 {
		margin-left: 28px;
	}
	h2:before {
		left: 14px;
	}
	h3 {
		width: 100%;
	}
	/* ヘッダー */
	header {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.hamburger_wrap {
		width: 1000px;
	}
	.hamburger_btn {
		display: none;
	}
	.hamburger_menu_wrap {
		position: static;
		left: 0;
		width: 100%;
	}
	.hamburger_menu_wrap {
		background: #fff;
		height: auto;
	}
	.hamburger_list {
		background: #fff;
		margin: 0px;
		display: flex;
		justify-content: space-between;
		text-align: center;
	}
	.hamburger_list li p {
		margin: 8px 0;
		font-size: 0.9rem;
	}
	.hamburger_list li a::before {
		background: #fff;
		content: '';
		position: block;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		-webkit-transition: bottom 0s;
		transition: bottom 0s;
		z-index: -1;
	}
	.hamburger_list li a {
		padding: 0;
		color: #000;
	}
	.hamburger_list li a:hover::before {
		bottom: 0;
	}
	.hamburger_list li a:hover::after {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.sub_h {
		padding-left: 40px;
	}
	.sub_h:before {
		left: 0;
	}
	.sub_h_top:before {
		left: 30px;
	}
	/* LearnEnglish */
	.top_area_wrapper {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.site_message {
		width: 1000px;
		padding-right: 0px;
	}
	.site_message p {
		margin-right: 0;
	}
	/* サイトメッセージ */
	.site_message_main_wrapper {
		margin-top: -72px;
	}
	/* 共通タイトル */
	.main_h {
		padding: 16px 0;
	}
	.sub_h_top {
		position: relative;
		padding-left: 72px;
	}
	/* 新着一覧 */
	.about_site_top {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.about_site_top p {
		width: 984px;
		margin-right: 16px;
	}
	main .h2_wrapper {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	main h1, main h2 {
		width: 1000px;
	}
	.top_news, .about {
		margin-top: -32px;
	}
	.article_list_wrapper {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.article_list {
		padding: 0;
		width: 1000px;
	}

	/* 当サイトについて */
	.about_content {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.about_content p, .about_content_src {
		width: 984px;
		margin-right: 16px;
		margin-left: 16px;
		font-size: 0.9rem;
	}
	.about_content_src {
		width: 1000px;
		font-size: 0.9rem;
	}

	/* フッター */
	.footer_category_list_wrapper {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.footer_category_list {
		width: 1000px;
		gap: 8px 72px;
	}
	footer ul {
		padding: 0 !important;
	}
	.footer_category_list p {
		padding-right: 0px;
	}
	.footer_category_list a::after {
		right: 0px !important;
	}
	.hr_footer {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.hr_footer hr {
		width: 1000px;
	}

	/* シーン詳細画面 */
	.overview_movie_title {
		width: 1000px;
	}
	.scene_contents_wrapper_outer {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.scene_contents_wrapper_inner {
		width: 1000px;
	}
	.overview_wrapper {
		padding: 0;
	}
	.casts_wrapper {
		margin: 8px 0;
	}
	.scene_contents_wrapper_inner .hr_footer hr {
		margin: 28px 0px 0 0px;
	}
	.scene_memo {
		margin-right: 0;
		margin-left: 0;
	}

	/* お問い合わせ */
	.form_control_wrapper, .about_error {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
	.form_control_wrapper > div, .about_error p {
		width: 1000px;
	}
}
