{{define "og_url"}}
    <meta property="og:url" content="https://www.movieup.cafe/blogs/aboutListeningFunction/" />
{{end}}
{{define "og_description"}}
    <meta property="og:description" content="映画のあのセリフを聞いて英語のリスニング学習！MOViE UP" />
{{end}}
{{define "title"}}映画のあのセリフで英語のリスニング学習！リスニング機能の紹介 MOViE UP{{end}}
{{define "description"}}当サイトの映画のセリフ翻訳記事ではセリフの音声再生機能がありリスニング学習を行う事が出来ます。映画好きな英語学習の方は是非お試しください。{{end}}
{{define "head"}}
    <link rel="stylesheet" href="/resources/css/blog.css">
{{end}}

 {{define "content"}}
 	<!-- サイトメッセージ -->
 	<div id="site_message" class="site_message_main_wrapper">
 		<transition name="fade">
 			<article v-if="show" class="site_message_main">
                <span><strong>MOViE UP</strong></span>
 				<div class="site_message_main_img">
 					<img src="/resources/images/icon_reverse_black.svg" />
 				</div>
 				<p class="main_title"><strong>映画｜翻訳</strong></p>
 				<p>
 					映画で英語を学習中の管理人が気づいたことをブログで綴っています。<br>
                    映画のワンシーンを初心者向け翻訳している記事もあるので是非ご覧ください。
 				</p>
 			</article>
 		</transition>
 	</div>

 	<!-- メインコンテンツ -->
 	<main>
        <div class="content_wrapper">
            <div class="h2_wrapper"><h1 class="sub_h_top">映画のあのセリフで英語のリスニング学習！リスニング機能の紹介</h1></div>
            <div class="content">
                <P>
                    今回は、当サイトの英語のセリフ翻訳記事にあるリスニング機能での学習方法についてご紹介します、<br>
                    大好きなあの映画のセリフで是非リスニング英語学習をしてみてください！
                </p>
                <div class="topics">
                    <p class="topics_head">記事見出し</p>
                    <ul>
                        <li><a href="#link-1">当サイトのリスニング機能について</a></li>
                        <ul>
                            <li><a href="#link-1-1">使用方法</a></li>
                            <li><a href="#link-1-2">使用上の注意</a></li>
                        </ul>
                    </ul>
                </div>

                <!-- ad -->
                <ins class="adsbygoogle"
                     style="display:block; text-align:center;"
                     data-ad-layout="in-article"
                     data-ad-format="fluid"
                     data-ad-client="ca-pub-1841361625670297"
                     data-ad-slot="1809173795"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

                <h2 id="link-1" class="h2_blog">当サイトのリスニング機能について</h2>

                <p class="img_in_content">
                    <img src="/resources/images/blog/listening.jpg" alt="リスニング機能説明">
                </p>

                <h3 id="link-1-1" class="h3_blog">使用方法</h3>
                <p>
                    まず映画のセリフ翻訳記事を開いてください。<br>
                    セリフ翻訳記事は<a class="link_text_in_content" href="/" target="_blank">こちらのトップページ</a>の「映画のセリフ英語翻訳一覧」より気になる記事をクリックして開いてください。<br>
                    <br>
                    記事を開いたら、セリフ翻訳の少し手前の以下の赤円の場所をタップしてください。
                </p>

                <p class="img_in_content img_description">
                    <a href="/resources/images/blog/listening_description_1.jpg" target="_blank"><img src="/resources/images/blog/listening_description_1.jpg" alt="リスニング機能説明 「リスニング機能で学習」をタップ"></a>
                </p>

                <p>
                    タップするとリスニング機能が出てきますので、次にリスニングスピード（遅・並・早から選べます）を選び<br>
                    あとは2種類の「セリフリスニング再生」ボタンを押すと音声が流れてリスニングが出来ます。<br>
                </p>

                <p class="img_in_content img_description">
                    <a href="/resources/images/blog/listening_description_2.jpg" target="_blank"><img src="/resources/images/blog/listening_description_2.jpg" alt="リスニング機能説明 「セリフのリスニング再生」ボタンをタップ"></a>
                </p>

                <p>
                    2種類の「セリフリスニング再生」ボタンは
                </p>

                <p class="emphasize_1 mt-8 mb-8">
                    <b>英語のみ：</b> 英語のセリフのみを再生<br>
                    <b>英語 + 日本語訳：</b> 英語とその訳された日本語を交互に再生<br>
                </p>

                <p>
                    となっています。<br>
                    <br>
                    是非この機能を使って、映画のセリフでのリスニング英語学習を試してみてください！
                </p>

                <h3 id="link-1-2" class="h3_blog">使用上の注意</h3>

                <p>
                    このリスニング機能を使っていただく上での注意事項がいくつかありますので、注意をよくお読みいただいた上でご使用ください。<br>
                    <br>
                    <b>注意１．ご使用のブラウザ制限について</b><br>
                    リスニング機能はJavascriptというブラウザに依存するプログラミング言語を使用して実現している機能です。<br>
                    また、その中でも発展途上の技術を使用しているため、ブラウザは以下を推奨しています。
                </P>
                <p class="emphasize_1 mt-8 mb-8">
                    <b>推奨ブラウザ：</b>パソコンのChrome（最新版）
                </p>
                <p>
                    これ以外のブラウザでリスニング機能を使用した場合、再生される英語や日本語の音声の発音が不適当なものとなる可能性があります。<br>
                    また、この使用技術に全く対応していないブラウザの場合はリスニング機能自体が非表示となり使用が出来ないようになっております。<br>
                </p>
                <p class="mt-16">
                    <b>注意２．発音について</b><br>
                    推奨ブラウザを明記させていただきましたが、使用している技術の性質上推奨ブラウザでも英語や日本語の発音は保証するものではありません。<br>
                    もう少しブラウザの質が上がってくればどのようなブラウザでも全てのフレーズで完璧な発音となるかとは思いますが、、今の技術では限界がありますのでご了承ください。
                </p>

                <!-- ad -->
                <div>
                    <ins class="adsbygoogle"
                         style="display:block; text-align:center;"
                         data-ad-layout="in-article"
                         data-ad-format="fluid"
                         data-ad-client="ca-pub-1841361625670297"
                         data-ad-slot="1855530975"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>
            </div>
        </div>

        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <script src="/resources/js/siteMessage.js"></script>
{{end}}
