{{define "og_url"}}
    <meta property="og:url" content="https://www.movieup.cafe" />
{{end}}
{{define "og_description"}}
    <meta property="og:description" content="映画のセリフ翻訳記事を見て楽しく英会話を勉強しよう！" />
{{end}}
{{define "title"}}映画で英語学習！～ディズニーが英会話初心者に適切！その理由とおすすめ映画4選～{{end}}
{{define "description"}}英語学習中の方、また自身の学習ために映画のワンシーンのセリフ翻訳を記事として載せています。映画としても英語学習としてもおすすめのものを厳選して載せていす。楽しく英語学習する材料にお使いください。{{end}}
{{define "head"}}
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="/resources/css/blog.css">
{{end}}

 {{define "content"}}
 	<!-- サイトメッセージ -->
 	<div id="site_message" class="site_message_main_wrapper">
 		<transition name="fade">
 			<article v-if="show" class="site_message_main">
                <span><strong>MOViE UP</strong></span>
 				<div class="site_message_main_img">
 					<img src="/resources/images/icon_reverse_black.svg" />
 				</div>
 				<p class="main_title"><strong>映画｜翻訳</strong></p>
 				<p>
 					映画で英語を学習中の管理人が気づいたことをブログで綴っています。<br>
                    映画のワンシーンを初心者向け翻訳している記事もあるので是非ご覧ください。
 				</p>
 			</article>
 		</transition>
 	</div>

 	<!-- メインコンテンツ -->
 	<main>
        <div class="content_wrapper">
            <div class="h2_wrapper"><h1 class="sub_h_top">映画で英語学習！～ディズニーが英会話初心者に適切！その理由とおすすめ映画4選～</h1></div>
            <div class="content">
                <P>
                    こんにちは！英語勉強中の管理人です！<br>
                    映画の初心者向け翻訳記事を作ってて気づいたシリーズより、「ディズニーのアニメ映画」のセリフが他の実写映画などに比べてはるかにわかりやすく、英語学習中の方におすすめな理由を解説いたします。<br>
                </p>
                <div class="topics">
                    <p class="topics_head">記事見出し</p>
                    <ul>
                        <li><a href="#aaa">ディズニーが英語(英会話)初心者におすすめな理由</a></li>
                        <ul>
                            <li><a href="#aaa">文の短さが程よい</a></li>
                            <li><a href="#aaa">単語のレベルが程よい</a></li>
                            <li><a href="#aaa">セリフのスピードが程よい</a></li>
                        </ul>
                        <li><a href="#aaa">ディズニーおすすめ理由まとめ</a></li>
                        <ul>
                            <li><a href="#aaa">理由まとめ</a></li>
                            <li><a href="#aaa">おすすめディズニー映画4選</a></li>
                            <li><a href="#aaa">当サイト内で掲載しているディズニーのワンシーン翻訳</a></li>
                        </ul>
                    </ul>
                </div>

                <!-- ad -->
                <ins class="adsbygoogle"
                     style="display:block; text-align:center;"
                     data-ad-layout="in-article"
                     data-ad-format="fluid"
                     data-ad-client="ca-pub-1841361625670297"
                     data-ad-slot="1809173795"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>

                <h2 class="h2_blog">ディズニーが英語初心者におすすめな理由</h2>
                <p>
                    まずはディズニーが英語初心者におすすめな理由を簡単にご説明します。
                </p>

                <h3 class="h3_blog">文の短さが程よい</h3>
                <p class="img_in_content">
                    <img src="/resources/images/blog/short.jpg" alt="短い様子">
                </p>
                <p>
                    1つ目の理由は文章の短さです。<br>
                    <br>
                    ディズニーのセリフは一つ一つの文章が短いものが多くあるため、セリフとセリフの間に意味の理解の整理がしやすいのです。<br>
                    <br>
                    試しに比較してみましょう。<br>
                    まずはディズニー代表としてこちらのシーンから<br>
                </p>

                <a href="https://www.movieup.cafe/scenes/4/" target="_blank">
                    <div class="article_in_site">
                        <div class="article_in_site_movie_title">
                            <span>
                                【映画：アナと雪の女王】オラフ初登場。僕はオラフ！ギューっと抱きしめて！<br>
                                <span class="article_in_site_title_en">(映画原題：Frozen)</span><br>
                            </span>
                        </div>
                    </div>
                </a>

                <p>
                    見ていただくとわかる通り、長い文章はほとんどなく、長くなりそうな文章でも適切に区切って聞き取りやすいセリフとなっています。<br>
                    <br>
                    <b class="b_in_scene_memo">Too hard. I'm sorry!</b><br>
                    <b class="b_in_scene_memo">So cute. It's like a little baby unicorn.</b><br>
                    ↑区切られたり、短い文章で構成されていますね。<br>
                    <br>
                    比較対象として私の大好きな映画ララランドのこちらのシーンを見てみましょう。<br>
                </p>

                <a href="https://www.movieup.cafe/scenes/3/" target="_blank">
                    <div class="article_in_site">
                        <div class="article_in_site_movie_title">
                            <span>
                                【映画：ララランド】オーディション後、公園で佇む２人<br>
                                <span class="article_in_site_title_en">(映画原題：LALALAND)</span><br>
                            </span>
                        </div>
                    </div>
                </a>

                <p>
                    <b class="b_in_scene_memo">But I'm not expecting to find anything out.</b><br>
                    <b class="b_in_scene_memo">When you get this, you gotta give it everything you got.</b><br>
                    ↑あえて少し眺めのセリフをチョイスしましたが、このような長いセリフが途中で入ってくると英会話慣れしていない場合は脳の整理が追いつかずテンパってしまいますよね。<br>
                    <br>
                    文章が短いとそれだけで一つ一つを整理しながら次へ備えることが出来るので、英語初学者には優しいことになります。<br>
                </p>

                <h3 class="h3_blog">単語のレベルが程よい</h3>
                <p class="img_in_content">
                    <img src="/resources/images/blog/short.jpg" alt="短い様子">
                </p>
                <p>
                    2つ目の理由は単語のレベルが優しいということです<br>
                    <br>
                    ディズニーのセリフで使用されている単語は、一度は見聞きしたことのある単語ばかりで構成されています。<br>
                    <br>
                    例えばこちらのアラジンのワンシーンを見てください。<br>
                </p>

                <a href="https://www.movieup.cafe/scenes/7/" target="_blank">
                    <div class="article_in_site">
                        <div class="article_in_site_movie_title">
                            <span>
                                【【映画：アラジン】アリ王子に扮したアラジンがジャスミンを空のデートに誘う<br>
                                <span class="article_in_site_title_en">(映画原題：Aladdin)</span><br>
                            </span>
                        </div>
                    </div>
                </a>

                <p>
                    いかがですか？ザッとセリフを流し見しても、9割は理解出来てしまう単語ではないでしょうか？<br>
                    （Google翻訳するとしたら“Buzz off”くらいでしょうか）<br>
                    <br>
                    このシーンだけでなく、ディズニーのセリフで使用される単語はそこまで難しいものを使わずに構成されているので、会話のスピードの慣れるという目的にはピッタリの内容となっています。
                </p>


                <h3 class="h3_blog">セリフのスピードが程よい</h3>
                <p class="img_in_content">
                    <img src="/resources/images/blog/short.jpg" alt="短い様子">
                </p>
                <p>
                    3つ目の理由はセリフのスピードです。<br>
                    もちろん、程よく聞き取りやすいスピードということです。<br>
                    <br>
                    これが3つの理由の中で一番重要かもしれません。<br>
                    <br>
                    ディズニーのセリフは英会話初心者でも、字幕を見ずに注意して聞いていれば何割かは聞き取れるほどの聞き取りやすいスピードで話してくれています。<br>
                    <br>
                    比較として私の大好きなララランドですが、ララランドは英語の字幕付きでも今どこを話しているのかわからなくなる時があるほどスピーティに話すことがよくあります。<br>
                    1度でもまくしたてるような英語を使われるだけで聞き取るのが辛いのに、それが連続してしまうと聞き取るモチベーションが下がってしまいますよね。<br>
                    <br>
                    また、ララランドでは主人公のセブ(ライアン・ゴズリング)の話し方がボソボソしているので余計聞き取りずらいくなっています。<br>
                    ディズニーの場合は、キャラにもよりますが、キャラクター1人1人がしっかりと発音をしてくれるのでそこも聞き取りやすい点ですね。<br>
                </p>

                <h2 class="h2_blog">ディズニーおすすめ理由まとめ</h2>
                <p>
                    最後に3つの理由のまとめと、英語の学習におすすめなディズニー映画、それと当サイト内で扱っているディズニーのシーン翻訳記事のご紹介です。<br>
                </p>

                <h3 class="h3_blog">理由まとめ</h3>
                <p class="img_in_content">
                    <img src="/resources/images/blog/short.jpg" alt="短い様子">
                </p>
                <p>
                    1. <span class="emphasize_1">1文(1つのセリフ)が短い</span>ため1ずつのセリフを理解しながら内容を理解出来る<br>
                    <br>
                    2. 使用されている<span class="emphasize_1">単語のレベルが低め</span>なので無理に調べながらでなくても理解出来る<br>
                    <br>
                    3. <span class="emphasize_1">セリフのスピードが早くない</span>ため余裕を持ちながらセリフを理解出来る<br>
                </p>

                <h3 class="h3_blog">おすすめディズニー映画4選</h3>
                <p class="img_in_content">
                    <img src="/resources/images/blog/short.jpg" alt="短い様子">
                </p>
                <p>
                    以上を踏まえて、ディズニー映画の中でも更に英語(英会話)学習におすすめな映画を厳選してご紹介します。<br>
                    <br>
                </p>

                <h4 class="h4_in_content">アナと雪の女王 (Frozen)</h4>
                <p>
                    <a href="https://hb.afl.rakuten.co.jp/hgc/19fd1063.5e752c41.19fd1064.0048d0fb/?pc=https%3A%2F%2Fproduct.rakuten.co.jp%2Fproduct%2F-%2F1776c9a0b00dd548fd29a18acb27e910%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjF9" target="_blank" rel="nofollow noopener noreferrer" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hgb/1674d811.ad630b1c.1674d812.5f962c19/?me_id=1213310&item_id=19689725&m=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F5955%2F4959241775955.jpg%3F_ex%3D80x80&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F5955%2F4959241775955.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="アナと雪の女王Blu-ray" title="アナと雪の女王Blu-ray"></a>
                </p>
                <p>
                    アナ雪は、まずなにより面白いです！<br>
                    使用されている<span class="emphasize_1">英語もとてもシンプルなものばかり</span>なのですが、その中でも天真爛漫なアナやキュートなオラフといった<span class="emphasize_1">キャラに合ったセリフのチョイスがとても心地よい</span>です！<br>
                    <br>
                    やはり勉強となると何回も観ることが前提となってしまうので、面白く、キャラクターが魅力的で惹きつけられるのは大事ですよね。<br>
                </p>
                <p class="emphasize_1 mt-8 mb-24"><b>【個人的にはオラフのギューっと抱きしめてのシーンが大好きです！】</b></p>

                <h4 class="h4_in_content">アラジン (Aladdin)</h4>
                <p>
                    <a href="https://hb.afl.rakuten.co.jp/hgc/19fd1063.5e752c41.19fd1064.0048d0fb/?pc=https%3A%2F%2Fproduct.rakuten.co.jp%2Fproduct%2F-%2F8e2682f6b30c7e48735637a5c6ae1035%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjEsImJidG4iOjEsInByb2QiOjF9" target="_blank" rel="nofollow noopener noreferrer" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hgb/1674d811.ad630b1c.1674d812.5f962c19/?me_id=1213310&item_id=17518124&m=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F9870%2F4959241759870.jpg%3F_ex%3D80x80&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F9870%2F4959241759870.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="アラジンBlu-ray" title="アラジンBlu-ray"></a>
                </p>
                <p>
                    アラジンはなんといっても「アラジンとジャスミン」「アラジンとジーニー」の掛け合いが観ていて楽しく、また<span class="emphasize_1">日常的に使えるフレーズが多い</span>のが特徴です。<br>
                    <br>
                    ジーニーがたまにクセのある話し方をするのでそこだけ注意ですが、<span class="emphasize_1">ディズニー王道のプリンス＆プリンセスもの</span>で子供とも楽しく学習が出来る教材ではないでしょうか。<br>
                </p>
                <p class="emphasize_1 mt-8 mb-24"><b>【個人的には A whole new world 直前のアラジンとジャスミンの恋が動くドキドキシーンが大好きです！】</b></span>

                <h4 class="h4_in_content">塔の上のラプンツェル (Tangled)</h4>
                <p>
                    <a href="https://hb.afl.rakuten.co.jp/hgc/19fd1063.5e752c41.19fd1064.0048d0fb/?pc=https%3A%2F%2Fproduct.rakuten.co.jp%2Fproduct%2F-%2Fb7f0abfbf5f17ba63b2ee0716e743a97%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjAsImJidG4iOjEsInByb2QiOjF9" target="_blank" rel="nofollow noopener noreferrer" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hgb/1674d811.ad630b1c.1674d812.5f962c19/?me_id=1213310&item_id=16940439&m=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F3564%2F4959241753564.jpg%3F_ex%3D80x80&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F3564%2F4959241753564.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="塔の上のラプンツェルBlu-ray" title="塔の上のラプンツェルBlu-ray"></a>
                </p>
                <p>
                    こちらは<span class="emphasize_1">作品としての完成度が高く</span>、何回でも観れてしまうのが一番の魅力です！笑<br>
                    <br>
                    それだけではなく、この作品に関してもやはり<span class="emphasize_1">使用されている英語がシンプル</span>で、且つ1人1人のキャラクターが<span class="emphasize_1">聞き取りやすい発音・スピードでセリフを話してくれる</span>のでラプンツェルの世界に浸りつつ英語の勉強もしっかりと出来る内容となっています。
                </p>
                <p class="emphasize_1 mt-8 mb-24"><b>【個人的には塔から初めて出る時のラプンツェルの喜怒哀楽の様々な表情を見れるシーンが大好きです！】</b></span>

                <h4 class="h4_in_content">ベイマックス (Big Hero 6)</h4>
                <p>
                    <a href="https://hb.afl.rakuten.co.jp/hgc/19fd1063.5e752c41.19fd1064.0048d0fb/?pc=https%3A%2F%2Fproduct.rakuten.co.jp%2Fproduct%2F-%2F5df8c02050b492e731c69bd4a398aa1c%2F&link_type=pict&ut=eyJwYWdlIjoiaXRlbSIsInR5cGUiOiJwaWN0Iiwic2l6ZSI6IjI0MHgyNDAiLCJuYW0iOjEsIm5hbXAiOiJyaWdodCIsImNvbSI6MSwiY29tcCI6ImRvd24iLCJwcmljZSI6MCwiYm9yIjoxLCJjb2wiOjAsImJidG4iOjEsInByb2QiOjF9" target="_blank" rel="nofollow noopener noreferrer" style="word-wrap:break-word;"  ><img src="https://hbb.afl.rakuten.co.jp/hgb/1674d811.ad630b1c.1674d812.5f962c19/?me_id=1213310&item_id=17352231&m=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F7678%2F4959241757678.jpg%3F_ex%3D80x80&pc=https%3A%2F%2Fthumbnail.image.rakuten.co.jp%2F%400_mall%2Fbook%2Fcabinet%2F7678%2F4959241757678.jpg%3F_ex%3D240x240&s=240x240&t=pict" border="0" style="margin:2px" alt="ベイマックスBlu-ray" title="ベイマックスBlu-ray"></a>
                </p>
                <p>
                    はい、こちらは独断と偏見でチョイスしました。笑<br>
                    <br>
                    正直に言うと、専門用語が多く使われており、そのせいでディズニー映画の中では難易度が少し高めなのかなと思うのですが、それを補って余りある厳選理由があります。<br>
                    以下の通りです<br>
                    <br>
                    ・<span class="emphasize_1">ベイマックスが可愛すぎる</span><br>
                    ・<span class="emphasize_1">主要キャラが多く、たくさんの英語表現を聞き取りやすいスピードで学習が出来る</span><br>
                    <br>
                    まずなによりベイマックスの唯一無二の可愛さです。このプニプニが動いてしゃべってるのはそれだけで癒しです。<br>
                    観たことがない方は英語の勉強うんぬんよりまずは観てみてください！笑<br>
                    <br>
                    そして、専門用語を抜きにするとやはりそこはディズニー映画です。<br>
                    原題(Big Hero 6)の通り、主要キャラが多く、それぞれが個性的なキャラのためキャラに合った言い回しや掛け合いが楽しめます。<br>
                    （もちろんシンプルで聞き取りやすい英語となっています）<br>
                </p>
                <p class="emphasize_1 mt-8 mb-24"><b>【個人的にはベイマックスが初めてヒロと出会った時のプニプニ自己紹介シーンが大好きです！】</b></span>

                <!-- ad -->
                <div align="center">
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:728px;height:90px;"
                         data-ad-layout="in-article"
                         data-ad-format="fluid"
                         data-ad-client="ca-pub-1841361625670297"
                         data-ad-slot="1855530975"></ins>
                    <script>
                         (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>

                <h3 class="h3_blog">当サイト内で掲載しているディズニーのワンシーン翻訳</h3>
                <p>
                    当サイトで掲載しているディズニーのワンシーン英語翻訳記事の一覧です。
                </p>

            </div>

            <!-- ディズニー記事一覧_start -->
            <div class="content wrapper_content_list pt-0">
                <div class="article_list">
                    <a href="https://www.movieup.cafe/scenes/4/" target="_blank">
                        <div class="article">
                            <div class="article_top">
                                <div class="article_evaluation">
                                    <p class="article_evaluation_title"> 初心者おすすめ度 </p>
                                    <p class="article_evaluation_values"> ★★★★★ </p>
                                </div>
                                <div class="article_date_posted"> 2019-09-27 </div>
                            </div>
                            <div class="article_movie_title"><span>【映画：アナと雪の女王】オラフ初登場。僕はオラフ！ギューっと抱きしめて！<br><span class="article_title_en">(映画原題：Frozen)</span><br></span>
                            </div>
                            <div class="article_movie_description"><span>
                                                    みんな大好きオラフ！の登場シーンです。<br>あの「ギューと抱きしめて」のセリフも含まれる当シーンは、見る人の心をオラフが鷲掴みにすること間違いなしです。<br>ちなみにオラフは幼少期にまだエルサとアナが仲良く遊んでいた時代に、エルサの魔法によって生み出された雪だるまで、幼少期のシーンにもその様子が描かれています。<br>このシーンでオラフと合流した後、アナ・クリストフ・スヴェン達はエルサの氷の城へと赴く。
                                                </span></div>
                        </div>
                    </a>
                    <a href="https://www.movieup.cafe/scenes/5/" target="_blank">
                        <div class="article">
                            <div class="article_top">
                                <div class="article_evaluation">
                                    <p class="article_evaluation_title"> 初心者おすすめ度 </p>
                                    <p class="article_evaluation_values"> ★★★★★ </p>
                                </div>
                                <div class="article_date_posted"> 2019-09-29 </div>
                            </div>
                            <div class="article_movie_title"><span>【映画：アナと雪の女王】エルサを追って氷の城へ辿り着いたアナ<br><span class="article_title_en">(映画原題：Frozen)</span><br></span>
                            </div>
                            <div class="article_movie_description"><span>
                                                    エルサを追って氷の城へたどり着いたアナ。<br>エルサと再会しアレンデールへ戻るよう説得するが、エルサは解放された今の現状をそっとして欲しく帰ることを拒否します。<br>ひょうひょうとしたアナらしさの出ているセリフが多く詰まっているので文字だけで見ても少し楽しげな会話なのがわかります。<br>ちなみにこのシーン直後にオラフが突入してきて一気に場を和ませます。笑
                                                </span></div>
                        </div>
                    </a>
                    <a href="https://www.movieup.cafe/scenes/9/" target="_blank">
                        <div class="article">
                            <div class="article_top">
                                <div class="article_evaluation">
                                    <p class="article_evaluation_title"> 初心者おすすめ度 </p>
                                    <p class="article_evaluation_values"> ★★★★★ </p>
                                </div>
                                <div class="article_date_posted"> 2019-12-20 </div>
                            </div>
                            <div class="article_movie_title"><span>【映画：アナと雪の女王】魔法に冒されたアナを救おうとするオラフ<br><span class="article_title_en">(映画原題：Frozen)</span><br></span>
                            </div>
                            <div class="article_movie_description"><span>
                                                    アレンデール城に戻ってきたアナ達。<br>急激に魔法に冒され始めハンス王子に助けを求めるが、裏切られるアナ。もうダメかと思ったところに救世主オラフが登場しクリストフとの愛をアナに気づかせる。<br>アナを温めるオラフだが、火の近くなので溶けてしまうオラフ・・・ほんのり感動するシーンです。
                                                </span></div>
                        </div>
                    </a>
                    <a href="https://www.movieup.cafe/scenes/6/" target="_blank">
                        <div class="article">
                            <div class="article_top">
                                <div class="article_evaluation">
                                    <p class="article_evaluation_title"> 初心者おすすめ度 </p>
                                    <p class="article_evaluation_values"> ★★★★★ </p>
                                </div>
                                <div class="article_date_posted"> 2019-10-26 </div>
                            </div>
                            <div class="article_movie_title"><span>【映画：アラジン】（アラジンの住みかにて）アラジンとジャスミンそれぞれの暮らしに不満を感じ・・<br><span class="article_title_en">(映画原題：Aladdin)</span><br></span>
                            </div>
                            <div class="article_movie_description"><span>
                                                    アラジンとジャスミンが初めて出会った直後のワンシーン。<br>追われる衛兵から無事に逃げることが出来た２人（と猿のアブー）。アラジンはジャスミンを自身の住みかへ案内し、王宮も見える見晴らしを自慢するが、王宮から逃げ出してきたジャスミンは苦い表情。<br>ジャスミンの正体と彼女の日々の窮屈さを知らないアラジンは王宮での生活の素晴らしさを語り出すが、ジャスミンは王宮の外での自由な生活に強く惹かれており、そんな２人の対極の気持ちがセリフに表れたシーンとなっている。
                                                </span></div>
                        </div>
                    </a>
                    <a href="https://www.movieup.cafe/scenes/7/" target="_blank">
                        <div class="article">
                            <div class="article_top">
                                <div class="article_evaluation">
                                    <p class="article_evaluation_title"> 初心者おすすめ度 </p>
                                    <p class="article_evaluation_values"> ★★★★☆ </p>
                                </div>
                                <div class="article_date_posted"> 2019-11-22 </div>
                            </div>
                            <div class="article_movie_title"><span>【映画：アラジン】アリ王子に扮したアラジンがジャスミンを空のデートに誘う<br><span class="article_title_en">(映画原題：Aladdin)</span><br></span>
                            </div>
                            <div class="article_movie_description"><span>
                                                    名曲、そして名シーンの「A Whole New World」直前のアラジンとジャスミンのやりとり。<br>なんでも決められていた今までと同じで、アラジン（扮するアリ王子）に対しても好意を持っていなかったが、<br>このやり取りをきっかけにジャスミンはアラジンへ興味（既に恋心？）を抱くようになる重要なシーン。<br>「A Whole New World」のシーンにはかかせない、アラジンがジャスミンの心を射止める大事な場面となっています。<br>蜂に扮したジーニーがおじゃま・・・お助け役として大活躍してほっこりさせてくれます。
                                                </span></div>
                        </div>
                    </a>
                    <a href="https://www.movieup.cafe/scenes/10/" target="_blank">
                        <div class="article">
                            <div class="article_top">
                                <div class="article_evaluation">
                                    <p class="article_evaluation_title"> 初心者おすすめ度 </p>
                                    <p class="article_evaluation_values"> ★★★★☆ </p>
                                </div>
                                <div class="article_date_posted"> 2019-12-21 </div>
                            </div>
                            <div class="article_movie_title"><span>【映画：ベイマックス】ベイマックス初登場でヒロとご対面<br><span class="article_title_en">(映画原題：Big Hero 6)</span><br></span>
                            </div>
                            <div class="article_movie_description"><span>
                                                    才能の無駄遣いを続けるヒロを心配しヒロ大学のラボへと連れてきたタダシ。<br>そこでは様々な研究をしているラボ仲間を紹介され、最後にタダシが研究しているものを見せるためヒロをタダシのラボへ招き入れる。<br>プヨプヨでキュートなベイマックスの初登場シーン！登場からすでに可愛く一気にベイマックスが大好きになってしまうシーン。
                                                </span></div>
                        </div>
                    </a>
                    <a href="https://www.movieup.cafe/scenes/11/" target="_blank">
                        <div class="article">
                            <div class="article_top">
                                <div class="article_evaluation">
                                    <p class="article_evaluation_title"> 初心者おすすめ度 </p>
                                    <p class="article_evaluation_values"> ★★★★★ </p>
                                </div>
                                <div class="article_date_posted"> 2020-01-10 </div>
                            </div>
                            <div class="article_movie_title"><span>【映画：ベイマックス】入学のためのネタを考えるヒロとフォローするタダシ<br><span class="article_title_en">(映画原題：Big Hero 6)</span><br></span>
                            </div>
                            <div class="article_movie_description"><span>
                                                    サンフランソウキョウ工科大学のラボでロバート・キャラハン教授と出会い、ここへ通いたいと願うヒロ。<br>入学のためには大学主催の研究コンクールで成果を出さなければならないが、悩んでも悩んでも良いアイデアが出てこないヒロ。<br>そんなヒロをフォローする優しいタダシ。
                                                </span></div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- ディズニー記事一覧_end -->
        </div>

        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <script src="/resources/js/siteMessage.js"></script>
{{end}}
