<!doctype html>

<html class="no-js" lang="ja" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="{{template "description" .}}" />

        <meta property="og:title" content="映画翻訳で楽しく英語学習|MOViE UP" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="映画翻訳で楽しく英語学習|MOViE UP" />
        <meta property="og:image" content="https://www.movieup.cafe/resources/images/logo.jpg" />
        {{template "og_url" .}}
        {{template "og_description" .}}

        <link rel="icon" href="/resources/images/favicon.ico">

        <title>{{template "title" .}}</title>

        <!--<link rel="manifest" href="site.webmanifest">-->
		<link rel="apple-touch-icon" href="icon.png">
        <!-- 共通のCSSなど -->
        <link rel="stylesheet" href="/resources/css/main.css?release=20200228">

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

        {{template "head" .}}
    </head>
<body>
    <header id="header">
        <div class="hamburger_wrap">
            <a href="/">
                <img src="/resources/images/logo.svg" class="logo" alt="MOViE UP" />
            </a>
            <input id="hamburger_menu" type="checkbox" name="hamburger_menu" class="hamburger_menu_check"/>
            <label id="hamburger_btn" for="hamburger_menu" class="hamburger_btn"></label>
            <nav class="hamburger_menu_wrap">
                <ul class="hamburger_list">
                    <li><p><a href="/">新着一覧</a></p></li>
                    <li><p><a href="/tags/1/">英語初心者向けシーン翻訳</a></p></li>
                    <li><p><a href="/wordbook/">単語・文法一覧</a></p></li>
                    <li><p><a href="/about/site/">当サイトについて</a></p></li>
                    <li><p><a href="/about/technology/">サイト構成(技術)</a></p></li>
                    <li><p><a href="/inquiry/">お問い合わせ</a></p></li>
                </ul>
            </nav>
        </div>

        <!-- ハンバーガーメニュー押下時のオーバーレイ -->
        <div id="hamburger_overlay" class="hamburger_overlay" v-if="isShownMenu" v-on:click="clickHamburgerOverlay"></div>
    </header>

	<!-- 背景イメージ -->
	<div class="top_image_area">
		<div class="top_area_wrapper">
			<div class="site_message">
				<p>Learn English</p>
				<p>with movies</p>
			</div>
		</div>
	</div>
	<!-- フィルム -->
	<div class="film_separator">
	</div>

    {{template "content" .}}

	<footer>
		<h3>タグ一覧</h3>
		<div class="footer_category_list_wrapper">
			<ul class="footer_category_list">
                {{ range $tag := .tags }}
                    <li><p><a href="/tags/{{ $tag.TagId }}/">{{ $tag.Name }}</a></P></li>
                {{ end }}
			</ul>
		</div>
		<hr class="footer_hr_copyright"/>
        <div class="footer_privacy_policy">
            <a href="/policy/">プライバシーポリシー</a>
        </div>
		<p class="footer_copyright">© yoshida All Rights Reserved.</p>
	</footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145089497-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145077639-1');
    </script>

    <script src="/resources/js/common.js"></script>
    {{template "script_prebody" .}}

</body>
</html>
