{{define "title"}}映画で楽しく英会話学習 | MOViE UP{{end}}
{{define "description"}}英語学習中の方、また自身の学習ために映画のセリフ翻訳を記事として載せています。映画としても英語学習としてもおすすめのものを厳選して載せていす。楽しく英語学習をする材料にお使いください。{{end}}

 {{define "content"}}
 	<!-- サイトメッセージ -->
 	<div id="site_message" class="site_message_main_wrapper">
 		<transition name="fade">
 			<article v-if="show" class="site_message_main">
 				<span><strong>MOViE UP</strong></span>
 				<div class="site_message_main_img">
 					<img src="/resources/images/icon_reverse_black.svg" alt="[MOViE UP]" />
 				</div>
 				<p class="main_title"><strong>映画｜翻訳</strong></p>
 				<p>
 					自身の英語学習のために翻訳した映画のワンシーンを記事として載せています<br>
 					たくさんの人に楽しく英語学習が出来る材料となれば幸いです
 				</p>
 			</article>
 		</transition>
 	</div>

 	<!-- メインコンテンツ -->
 	<main>
 		<!-- 記事一覧 -->
        {{ $fiveList := .fiveList }}
 		<div id="news" class="top_news">
 			<div class="h2_wrapper"><h1 class="sub_h">新着セリフ翻訳</h1></div>
 			<div class="article_list_wrapper">
 				<div class="article_list">
                    {{ range $scene := .scenes }}
                        <a href="/scenes/{{ $scene.SceneId }}/">
                            <div class="article">
                                <!-- おすすめ度｜投稿日 -->
                                <div class="article_top">
                                    <div class="article_evaluation">
                                        <p class="article_evaluation_title">
                                            初心者おすすめ度
                                        </p>
                                        <p class="article_evaluation_values">
                                            {{ range $number := $fiveList }}{{ if ge $scene.RecommendedNumber $number }}★{{ else }}☆{{ end }}{{ end }}
                                        </p>
                                    </div>
                                    <div class="article_date_posted">
                                        {{ $scene.GetFormattedCreatedAt }}
                                    </div>
                                </div>
                                <!-- title -->
                                <div class="article_movie_title">
                                    <span>【映画：{{ $scene.Movie.TitleJp }}】{{ $scene.Title }}<br><span class="article_title_en">(映画原題：{{ $scene.Movie.TitleEn }})</span><br></span>
                                </div>
                                <!-- description -->
                                <span class="article_movie_description">
                                    {{ $scene.DescriptionHtml }}
                                </span>
                            </div>
                        </a>
                    {{ end }}
                    <!-- 記事 -->
                    <div v-for="scene in scenes">
                        <a @click="moveToScene(scene)">
                            <div class="article">
                                <!-- おすすめ度｜投稿日 -->
                                <div class="article_top">
                                    <div class="article_evaluation">
                                        <p class="article_evaluation_title">
                                            初心者おすすめ度
                                        </p>
                                        <p class="article_evaluation_values">
                                            @{ scene.recommenddedNumber }
                                        </p>
                                    </div>
                                    <div class="article_date_posted">
                                        @{ scene.createdAt }
                                    </div>
                                </div>
                                <!-- title -->
                                <div class="article_movie_title">
                                    <span>【映画：@{ scene.titleJp }】@{ scene.sceneTitle }<br><span class="article_title_en">(映画原題：@{ scene.titleEn })</span><br></span>
                                </div>
                                <!-- description -->
                                <span class="article_movie_description" v-html="scene.description">
                                </span>
                            </div>
                        </a>
                    </div>
 				</div>
 			</div>

 			<!-- more-->
            {{/* 記事がたまってきたらmain.goの.Limit(10)を変更してこのコメントアウトを戻す
 			<div class="next_article_list">
 				<a href="#" onclick="return false;" @click="getNextArticles">もっと見る</a>
 			</div>
            */}}
 		</div>

        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <script src="/resources/js/index.js"></script>
    <script src="/resources/js/siteMessage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{{end}}
