{{define "og_url"}}
    <meta property="og:url" content="https://www.movieup.cafe" />
{{end}}
{{define "og_description"}}
    <meta property="og:description" content="映画のセリフ翻訳記事を見て楽しく英会話を勉強しよう！" />
{{end}}
{{define "title"}}映画で楽しく英語の勉強！映画ワンシーンまるまる翻訳サイト | MOViE UP{{end}}
{{define "description"}}英語学習中の方、また自身の学習ために映画のセリフ翻訳を記事として載せています。映画としても英語学習としてもおすすめのものを厳選して載せていす。楽しく英語学習をする材料にお使いください。{{end}}
{{define "head"}}{{end}}

 {{define "content"}}
 	<!-- サイトメッセージ -->
 	<div id="site_message" class="site_message_main_wrapper">
 		<transition name="fade">
 			<article v-if="show" class="site_message_main">
 				<span><strong>MOViE UP</strong></span>
 				<div class="site_message_main_img">
 					<img src="/resources/images/icon_reverse_black.svg" alt="[MOViE UP]" />
 				</div>
 				<p class="main_title"><strong>映画｜翻訳</strong></p>
 				<p>
 					多くの人に楽しく英語学習が出来る材料として使用していただければ幸いです。
 				</p>
 			</article>
 		</transition>
 	</div>

 	<!-- メインコンテンツ -->
 	<main>
        <div class="about">
            <div class="h2_wrapper"><h1 class="sub_h_top">英語学習のための映画翻訳サイト</h1></div>
            <div class="about_site_top">
                <P>
                    当サイトでは管理人の好きな映画、もしくは英語初心者におすすめな映画のワンシーンを翻訳記事として掲載しています。<br>
                    また、翻訳の解説や、シーン内で使用されている単語等も単語帳として記事内に載せておりますので、映画で楽しく英語学習を行っていただける内容となっております。<br>
                    お気に入りの映画やキャラクター、俳優さんの気持ちになって英語を勉強しましょう！
                </p>
            </div>
        </div>

 		<!-- 記事一覧 -->
        {{ $fiveList := .fiveList }}
 		<div id="news" class="top_news">
 			<div class="h2_wrapper"><h2 class="sub_h_top">映画の新着セリフ英語翻訳</h2></div>
 			<div class="article_list_wrapper">
 				<div class="article_list">
                    {{ range $scene := .scenes }}
                        <a href="/scenes/{{ $scene.SceneId }}/">
                            <div class="article">
                                <!-- おすすめ度｜投稿日 -->
                                <div class="article_top">
                                    <div class="article_evaluation">
                                        <p class="article_evaluation_title">
                                            初心者おすすめ度
                                        </p>
                                        <p class="article_evaluation_values">
                                            {{ range $number := $fiveList }}{{ if ge $scene.RecommendedNumber $number }}★{{ else }}☆{{ end }}{{ end }}
                                        </p>
                                    </div>
                                    <div class="article_date_posted">
                                        {{ $scene.GetFormattedCreatedAt }}
                                    </div>
                                </div>
                                <!-- title -->
                                <div class="article_movie_title">
                                    <span>【映画：{{ $scene.Movie.TitleJp }}】{{ $scene.Title }}<br><span class="article_title_en">(映画原題：{{ $scene.Movie.TitleEn }})</span><br></span>
                                </div>
                                <!-- description -->
                                <div class="article_movie_description">
                                    <span>
                                        {{ $scene.DescriptionHtml }}
                                    </span>
                                </div>
                            </div>
                        </a>
                    {{ end }}
                    <!-- 記事 -->
                    <div v-for="scene in scenes">
                        <a @click="moveToScene(scene)">
                            <div class="article">
                                <!-- おすすめ度｜投稿日 -->
                                <div class="article_top">
                                    <div class="article_evaluation">
                                        <p class="article_evaluation_title">
                                            初心者おすすめ度
                                        </p>
                                        <p class="article_evaluation_values">
                                            @{ scene.recommenddedNumber }
                                        </p>
                                    </div>
                                    <div class="article_date_posted">
                                        @{ scene.createdAt }
                                    </div>
                                </div>
                                <!-- title -->
                                <div class="article_movie_title">
                                    <span>【映画：@{ scene.titleJp }】@{ scene.sceneTitle }<br><span class="article_title_en">(映画原題：@{ scene.titleEn })</span><br></span>
                                </div>
                                <!-- description -->
                                <div class="article_movie_description">
                                    <span v-html="scene.description">
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
 				</div>
 			</div>

 			<!-- more-->
 			<div class="next_article_list">
 				<a href="#" onclick="return false;" @click="getNextArticles">もっと見る</a>
 			</div>
 		</div>

        <div class="about_site_top">
            <!-- ad -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-1841361625670297"
                 data-ad-slot="3463490689"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <script src="/resources/js/index.js"></script>
    <script src="/resources/js/siteMessage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{{end}}
