{{define "title"}}お問い合わせ | MOViE UP{{end}}
{{define "description"}}英語学習中の方、また自身の学習ために映画のワンシーン翻訳を記事として載せています。映画としても英語学習としてもおすすめのものを厳選して載せていす。楽しく英語学習する材料にお使いください。{{end}}

 {{define "content"}}
 	<!-- サイトメッセージ -->
 	<div id="site_message" class="site_message_main_wrapper">
 		<transition name="fade">
 			<article v-if="show" class="site_message_main">
                <span><strong>MOViE UP</strong></span>
 				<div class="site_message_main_img">
 					<img src="/resources/images/icon_reverse_black.svg" />
 				</div>
 				<p class="main_title"><strong>映画｜翻訳</strong></p>
 				<p>
 					自身の英語学習のために翻訳した映画のワンシーンを記事として載せています<br>
 					たくさんの人に楽しく英語学習が出来る材料となれば幸いです
 				</p>
 			</article>
 		</transition>
 	</div>

 	<!-- メインコンテンツ -->
 	<main>
        <div class="about">
            <div class="about_content">
                <P>
                    当サイトに関することであればなんでもお問い合わせください。<br>
                    技術に関することでも結構です。<br>
                    ※当サイト管理をメイン業務としているわけではないため、ご回答にお時間をいただく場合がございます。ご了承ください。
                </p>
            </div>

            <div class="h2_wrapper"><h1 class="sub_h">お問い合わせフォーム</h1></div>

            <form method="post" action="/inquiry/send/">
                <!-- メールアドレス -->
                {{ if eq .errorItem "mailAddress"}}
                    <div class="about_error">
                        <P>
                            メールアドレスは3〜64文字で入力してください<br>
                        </p>
                    </div>
                {{ end }}
                <div class="form_control_wrapper">
                    <div>
                        <label class="ef">
                    		<input type="email" name="mailAddress" placeholder="メールアドレス" value="{{ .mailAddress }}" required>
                    	</label>
                    </div>
                </div>
                <!-- お問い合わせ内容 -->
                {{ if eq .errorItem "inquiry"}}
                    <div class="about_error">
                        <P>
                            お問い合わせ内容は10〜2048バイトで入力してください<br>
                        </p>
                    </div>
                {{ end }}
                <div class="form_control_wrapper">
                    <div>
                        <label class="ef">
                    	   <textarea name="inquiry" rows="8" placeholder="お問い合わせ内容" required>{{ .inquiry }}</textarea>
                    	</label>
                    </div>
                </div>

                <!-- 確認ボタン -->
                <div class="form_control_wrapper">
                    <input class="form_control_button" type="submit" value="送信">
                </div>
            </div>
        </div>

        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <script src="/resources/js/siteMessage.js"></script>
{{end}}
