{{define "og_url"}}
    <meta property="og:url" content="https://www.movieup.cafe" />
{{end}}
{{define "og_description"}}
    <meta property="og:description" content="映画のセリフ翻訳記事を見て楽しく英会話を勉強しよう！" />
{{end}}
{{define "title"}}お問い合わせ | MOViE UP{{end}}
{{define "description"}}英語学習中の方、また自身の学習ために映画のワンシーン翻訳を記事として載せています。映画としても英語学習としてもおすすめのものを厳選して載せていす。楽しく英語学習する材料にお使いください。{{end}}

 {{define "content"}}

 	{{/* メインコンテンツ */}}
 	<main>
        <div class="spacing_middle"></div>

        <div class="about">
            <div class="about_content">
                <P>
                    お問い合わせありがとうございます。<br>
                    返信にはお時間をいただく可能性がございますが、１通ずつ確認してご返信いたします。<br>
                </p>
            </div>
        </div>


        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <script src="/resources/js/scene.js"></script>
{{end}}
