{{define "title"}}映画【{{ .movie.TitleJp }}】 シーンのセリフ英語翻訳 | 楽しく英会話学習{{end}}
{{define "description"}}映画「{{ .movie.TitleJp }}」シーンのセリフ翻訳（{{ .scene.Title }}）。{{ .scene.Description }}{{end}}

 {{define "content"}}

 	{{/* メインコンテンツ */}}
 	<main>
        {{/* タグ */}}
        <div class="tags">
            <div class="tag_wrapper">
                {{ range $sceneTag := .sceneTags }}
                    <a href="/tags/{{ $sceneTag.TagId }}/">{{ $sceneTag.Tag.Name }}</a>
                {{ end }}
            </div>
        </div>
        <div class="scene_contents_wrapper_outer">
            <div class="scene_contents_wrapper_inner">
                <div class="scene_contents_title_wrapper">
                    {{/* ページタイトル */}}
                    <div>
                        <h1 class="main_h">【映画：{{ .movie.TitleJp }}】セリフ英語翻訳（{{ .scene.Title }}）</h1>
                        <div class="scene_top_title_en">
                            <span class="article_title_en">(映画原題：{{ .movie.TitleEn }})</span>
                        </div>
                    </div>
                    {{/* パッケージ画像（amazonアソシエイト） */}}
                    {{ if ne .movie.AmazonAffiliateUrl "" }}
                        <div class="scene_top_package_img">
                            {{ .movie.AmazonAffiliateUrlHtml }}
                            映画詳細はこちらをクリック
                        </div>
                    {{ end }}
                </div>
                {{/* 概要 */}}
                <div id="tabs" class="overview_wrapper">
                    <ul>
                        <li class="overview_tab" @click="clickTab(1)" v-bind:class="{ 'isActiveTab' : (activeTabNumber !== 0), 'active_overview_tab_li': (activeTabNumber === 1) }">映画概要<i class="fas fa-angle-down"></i></li>
                        <li class="overview_tab" @click="clickTab(2)" v-bind:class="{ 'isActiveTab' : (activeTabNumber !== 0), 'active_overview_tab_li': (activeTabNumber === 2) }">シーン概要<i class="fas fa-angle-down"></i></li>
                    </ul>
                    <div>
                        <p class="tab_overview" v-if="activeTabNumber === 1">{{ .movieDescription }}</P>
                        <p class="tab_overview" v-else-if="activeTabNumber === 2">{{ .sceneDescription }}</P>
                    </div>
                </div>

                {{/* キャスト */}}
                {{ $castLength := len .sceneCasts }}
                {{ if ne $castLength 0 }}
                    <div class="h2_wrapper h2_scene"><h2 class="sub_h">シーン登場キャスト</h2></div>
                    <div class="casts_wrapper">
                        {{ range $index, $sceneCast := .sceneCasts }}
                            <p class="character_name">{{ $sceneCast.CharacterName }}</p>
                            <p class="cast">({{ $sceneCast.CastName }})</p>
                            <p class="cast_description">{{ $sceneCast.Description }}</p>
                        {{ end }}
                    </div>
                {{ end }}

                <div class="hr_footer"><hr/></div>

                {{/* セリフ翻訳 */}}
                <div class="h2_wrapper h2_scene"><h2 class="sub_h">セリフ英語翻訳</h2></div>
                <div class="scene_wrapper">
                    {{ $sceneDetailLengthMax := (len .sceneDetails) }}
                    {{ range $index, $sceneDetail := .sceneDetails }}
                        {{ if ne $sceneDetail.Quote "" }}
                            {{/* セリフ */}}
                            <div class="scene_line">
                                <blockquote class="blockquote">
                                    <p><span class="character">{{ $sceneDetail.CharacterName }}:</span>{{ $sceneDetail.Quote }}</p>
                                </blockquote>
                                <div class="translation_line">
                                    <p>{{ $sceneDetail.Translated }}</p>
                                </div>
                            </div>
                        {{ else }}
                            {{/* セリフ以外のアクション */}}
                            <div class="scene_line_action">
                                <p>{{ $sceneDetail.Action }}</p>
                            </div>
                        {{ end }}
                        {{/* 区切りの白い縦棒（最後のループ以外は表示） */}}
                        {{/* if isLast $index .sceneDetails */}}
                            <div class="scene_line_delimiter"></div>
                        {{/* end */}}
                    {{ end }}

                </div>

                <div class="scene_wrapper">
                    <!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
                    <!-- 記事内横長１ -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1841361625670297"
                         data-ad-slot="4186734785"
                         data-ad-format="horizontal"
                         data-full-width-responsive="true"></ins>
                </div>

                {{ if ne .scene.Memo "" }}
                    <div class="hr_footer"><hr/></div>

                    {{/* 翻訳メモ */}}
                    <div class="h2_wrapper h2_scene"><h3 class="sub_h">セリフ翻訳メモ</h3></div>
                    <div class="scene_memo">
                        <p>{{ .memo }}</p>
                    </div>

                    {{/* 単語・文法帳 */}}
                    {{ $sceneDictionaryCount := len .sceneDictionaries }}
                    {{ if ne $sceneDictionaryCount 0 }}
                        <div class="h2_wrapper h2_scene"><h3 class="sub_h">単語・文法帳</h3></div>
                        <div class="scene_memo">
                            {{ range $index, $sceneDictionary := .sceneDictionaries }}
                                <p><b>{{ $sceneDictionary.Name }}</b></p>
                                <p class="dictionary_description">{{ $sceneDictionary.Description }}</p>
                            {{ end }}
                        </div>
                    {{ end }}
                {{ end }}

                <div class="scene_wrapper">
                    <!--<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>-->
                    <!-- 記事内横長２ -->
                    <ins class="adsbygoogle"
                         style="display:block"
                         data-ad-client="ca-pub-1841361625670297"
                         data-ad-slot="7831817390"
                         data-ad-format="horizontal"
                         data-full-width-responsive="true"></ins>
                </div>


                {{/* 同じ映画の別シーン一覧 */}}
                {{ $otherMovieSceneLength := len .otherMovieScenes }}
                {{ if ne $otherMovieSceneLength 0 }}
                    <div class="hr_footer"><hr/></div>
                    <!-- 記事一覧 -->
                    {{ $fiveList := .fiveList }}
                    <div class="h2_wrapper h2_scene"><h3 class="sub_h">映画【{{ .movie.TitleJp }}】の他の英語翻訳</h3></div>
         			<div class="article_list_wrapper">
         				<div class="article_list">
                            {{ range $otherMovieScene := .otherMovieScenes }}
                                <a href="/scenes/{{ $otherMovieScene.SceneId }}/">
                                    <div class="article">
                                        <!-- おすすめ度｜投稿日 -->
                                        <div class="article_top">
                                            <div class="article_evaluation">
                                                <p class="article_evaluation_title">
                                                    初心者おすすめ度
                                                </p>
                                                <p class="article_evaluation_values">
                                                    {{ range $number := $fiveList }}{{ if ge $otherMovieScene.RecommendedNumber $number }}★{{ else }}☆{{ end }}{{ end }}
                                                </p>
                                            </div>
                                            <div class="article_date_posted">
                                                {{ $otherMovieScene.GetFormattedCreatedAt }}
                                            </div>
                                        </div>
                                        <!-- title -->
                                        <div class="article_movie_title">
                                            <span>【映画：{{ $otherMovieScene.Movie.TitleJp }}】{{ $otherMovieScene.Title }}<br><span class="article_title_en">(映画原題：{{ $otherMovieScene.Movie.TitleEn }})</span><br></span>
                                        </div>
                                        <!-- description -->
                                        <div class="article_movie_description">
                                            <span>
                                                {{ $otherMovieScene.DescriptionHtml }}
                                            </span>
                                        </div>
                                    </div>
                                </a>
                            {{ end }}
         				</div>
         			</div>
                {{ end }}
            </div>
        </div>

        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <script src="/resources/js/scene.js"></script>

    <script>
    [].forEach.call(document.querySelectorAll('.adsbygoogle'), function(){
        (adsbygoogle = window.adsbygoogle || []).push({});
    });
    </script>
{{end}}
