{{define "title"}}映画【{{ .movie.TitleJp }}】 シーン翻訳 | MOViE UP{{end}}
{{define "description"}}映画「{{ .movie.TitleJp }}」のシーン翻訳（{{ .scene.Title }}）。{{ .scene.Description }}{{end}}

 {{define "content"}}

 	{{/* メインコンテンツ */}}
 	<main>
        {{/* タグ */}}
        <div class="tags">
            <div class="tag_wrapper">
                {{ range $sceneTag := .sceneTags }}
                    <a href="/tags/{{ $sceneTag.TagId }}/">{{ $sceneTag.Tag.Name }}</a>
                {{ end }}
            </div>
        </div>
        <div class="scene_contents_wrapper_outer">
            <div class="scene_contents_wrapper_inner">
                {{/* ページタイトル */}}
                <h1 class="main_h">【映画：{{ .movie.TitleJp }}】シーン翻訳（{{ .scene.Title }}）</h1>
                {{/* 概要 */}}
                <div id="tabs" class="overview_wrapper">
                    <div class="overview_movie_title">
                        <div class="article_movie_title"><img src="/resources/images/icon_jp.svg"> <span>{{ .movie.TitleJp }}</span></div>
                        <div class="article_movie_title"><img src="/resources/images/icon_en.svg"> <span>{{ .movie.TitleEn }}</span></div>
                    </div>
                    <ul>
                        <li class="overview_tab" @click="clickTab(1)" v-bind:class="{ 'isActiveTab' : (activeTabNumber !== 0), 'active_overview_tab_li': (activeTabNumber === 1) }">映画概要<i class="fas fa-angle-down"></i></li>
                        <li class="overview_tab" @click="clickTab(2)" v-bind:class="{ 'isActiveTab' : (activeTabNumber !== 0), 'active_overview_tab_li': (activeTabNumber === 2) }">シーン概要<i class="fas fa-angle-down"></i></li>
                    </ul>
                    <div>
                        <p class="tab_overview" v-if="activeTabNumber === 1">{{ .movieDescription }}</P>
                        <p class="tab_overview" v-else-if="activeTabNumber === 2">{{ .sceneDescription }}</P>
                    </div>
                </div>

                {{/* キャスト */}}
                {{ $castLength := len .sceneCasts }}
                {{ if ne $castLength 0 }}
                    <div class="h2_wrapper h2_scene"><h2 class="sub_h">シーン登場キャスト</h2></div>
                    <div class="casts_wrapper">
                        {{ range $index, $sceneCast := .sceneCasts }}
                            <p class="character_name">{{ $sceneCast.CharacterName }}</p>
                            <p class="cast">({{ $sceneCast.CastName }})</p>
                            <p class="cast_description">{{ $sceneCast.Description }}</p>
                        {{ end }}
                    </div>
                {{ end }}

                <div class="hr_footer"><hr/></div>

                {{/* シーン翻訳 */}}
                <div class="h2_wrapper h2_scene"><h2 class="sub_h">シーン翻訳</h2></div>
                <div class="scene_wrapper">
                    {{ $sceneDetailLengthMax := (len .sceneDetails) }}
                    {{ range $index, $sceneDetail := .sceneDetails }}
                        {{ if ne $sceneDetail.Quote "" }}
                            {{/* セリフ */}}
                            <div class="scene_line">
                                <blockquote class="blockquote">
                                    <p><span class="character">{{ $sceneDetail.CharacterName }}:</span>{{ $sceneDetail.Quote }}</p>
                                </blockquote>
                                <div class="translation_line">
                                    <p>{{ $sceneDetail.Translated }}</p>
                                </div>
                            </div>
                        {{ else }}
                            {{/* セリフ以外のアクション */}}
                            <div class="scene_line_action">
                                <p>{{ $sceneDetail.Action }}</p>
                            </div>
                        {{ end }}
                        {{/* 区切りの白い縦棒（最後のループ以外は表示） */}}
                        {{/* if isLast $index .sceneDetails */}}
                            <div class="scene_line_delimiter"></div>
                        {{/* end */}}
                    {{ end }}

                </div>

                {{ if ne .scene.Memo "" }}
                    <div class="hr_footer"><hr/></div>

                    {{/* 翻訳メモ */}}
                    <div class="h2_wrapper h2_scene"><h3 class="sub_h">翻訳メモ</h3></div>
                    <div class="scene_memo">
                        <p>{{ .memo }}</p>
                    </div>

                    {{/* 単語・文法帳 */}}
                    {{ $sceneDictionaryCount := len .sceneDictionaries }}
                    {{ if ne $sceneDictionaryCount 0 }}
                        <div class="h2_wrapper h2_scene"><h3 class="sub_h">単語・文法帳</h3></div>
                        <div class="scene_memo">
                            {{ range $index, $sceneDictionary := .sceneDictionaries }}
                                <p><b>{{ $sceneDictionary.Name }}</b></p>
                                <p class="dictionary_description">{{ $sceneDictionary.Description }}</p>
                            {{ end }}
                        </div>
                    {{ end }}

                {{ end }}
            </div>
        </div>

        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <script src="/resources/js/scene.js"></script>
{{end}}
