{{define "title"}}【{{ .tag.Name }}】の翻訳シーン一覧 | MOViE UP{{end}}
{{define "description"}}「{{ .tag.Name }}」タグが付く映画のセリフ翻訳記事一覧です。{{end}}

 {{define "content"}}
 	<!-- サイトメッセージ -->
 	<div id="site_message" class="site_message_main_wrapper">
 		<transition name="fade">
 			<article v-if="show" class="site_message_main">
                <span><strong>MOViE UP</strong></span>
 				<div class="site_message_main_img">
 					<img src="/resources/images/icon_reverse_black.svg" alt="[MOViE UP]" />
 				</div>
 				<p class="main_title"><strong>映画｜翻訳</strong></p>
 				<p>
 					自身の英語学習のために翻訳した映画のワンシーンを記事として載せています<br>
 					たくさんの人に楽しく英語学習が出来る材料となれば幸いです
 				</p>
 			</article>
 		</transition>
 	</div>

 	<!-- メインコンテンツ -->
 	<main>
 		<!-- 記事一覧 -->
        {{ $fiveList := .fiveList }}
 		<div id="news" class="top_news">
 			<div class="h2_wrapper"><h2 class="sub_h_top">「{{ .tag.Name }}」のセリフ翻訳一覧</h2></div>
 			<div class="article_list_wrapper">
 				<div class="article_list">
                    {{ range $scene := .scenes }}
                        <a href="/scenes/{{ $scene.SceneId }}/">
                            <div class="article">
                                <!-- おすすめ度｜投稿日 -->
                                <div class="article_top">
                                    <div class="article_evaluation">
                                        <p class="article_evaluation_title">
                                            初心者おすすめ度
                                        </p>
                                        <p class="article_evaluation_values">
                                            {{ range $number := $fiveList }}{{ if ge $scene.RecommendedNumber $number }}★{{ else }}☆{{ end }}{{ end }}
                                        </p>
                                    </div>
                                    <div class="article_date_posted">
                                        {{ $scene.GetFormattedCreatedAt }}
                                    </div>
                                </div>
                                <!-- title -->
                                <div class="article_movie_title">
                                    <span>【映画：{{ $scene.Movie.TitleJp }}】{{ $scene.Title }}<br><span class="article_title_en">(映画原題：{{ $scene.Movie.TitleEn }})</span><br></span>
                                </div>
                                <!-- description -->
                                <span class="article_movie_description">
                                    {{ $scene.DescriptionHtml }}
                                </span>
                            </div>
                        </a>
                    {{ end }}
 				</div>
 			</div>
 		</div>

        <div class="hr_footer"><hr/></div>
 	</main>
{{end}}

{{define "script_prebody"}}
    <script src="/resources/js/tagScenes.js"></script>
    <script src="/resources/js/siteMessage.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{{end}}
